.chart circle {
  /*fill: darkorange;*/
}

.skills_true{
	/*fill: yellowgreen;*/
	position: relative;
}

#title_here{
	text-align: left;
	font-family: Helvetica;
	margin-left: 80px;
	color: rgb(240,198,115);
/*	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(240,198,115);
*/
}

.skills_false{
	float:right;
	/*fill: darkorange;*/
	position: absolute;
	left: 50px;
}

.chart text {
  fill: gray;
  font: 10px sans-serif;
  text-anchor: end;
}

.small_text{
	font: 8px sans-serif;
	text-anchor: end;
}

body{
	font-family: Helvetica;
}

.peopleCircle1{
	background-image: url(Images/People1.jpg);
}
